body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(185, 222, 246);
}

.loader-img {
  display: flex;
}

.loader-img img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.capitalize {
  text-transform: capitalize;
}
